# Database
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password

# JWT
JWT_SECRET=JWT_SECRET_KEY

# Apple OAuth2
APPLE_CLIENT_ID=your_apple_client_key
APPLE_KEY_ID=your_apple_Key
APPLE_TEAM_ID=your_apple_team_key

# Kakao OAuth2
KAKAO_CLIENT_ID=your_kakao_rest_api_key
